<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>小工具</a></li>
        <li class="breadcrumb-item active" aria-current="page">快乐交作业</li>
    </ol>
</nav>

<div class="container" style="margin-bottom: 1rem; margin-top: 1rem">

    <div class="list-group" *ngFor="let work of _works">
        <a class="list-group-item list-group-item-action" [routerLink]="[ 'upload' ]" [queryParams]="{id: work.id, name: work.name}" >
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">{{work.name}}</h4>
            </div>
            <!--TODO if commited-->
            <span class="badge badge-pill badge-danger">未提交</span>
            <div class="dropdown-divider"></div>
            <h5 class="card-text"><small class="text-muted">{{work.description}}</small></h5>
            <small class="text-muted">截止日期： {{work.deadLine| date:'yyyy-MM-dd HH:mm'}}</small>
        </a>
        <br>
    </div>

    <router-outlet></router-outlet>

</div>


