<div class="card text-left">
  <div class="card-body">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priceUpDown" id="priceUpDown1" value="option1">
      <label class="form-check-label" for="priceUpDown1">升序</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priceUpDown" id="priceUpDown2" value="option2">
      <label class="form-check-label" for="priceUpDown2">降序</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priceUpDown" id="priceUpDown3" value="option3"
        checked="checked">
      <label class="form-check-label" for="priceUpDown3">默认</label>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 2rem">
  <div class="card-columns">
    <div *ngFor="let de of demands; ">

      <div class="card text-left">
        <div class="card-body">

          <h5 class="card-title">{{ de.base.name }}</h5>
          <ng-container *ngIf="de.priceMax == de.priceMin; else is_acce_equal_else">
            <p class="d-inline card-text" style="float:left;color:green;">￥{{ de.priceMin }}</p>
          </ng-container>
          <ng-template #is_acce_equal_else>
            <p class="d-inline card-text" style="float:left;color:green;">￥{{ de.priceMin }} ~
              ￥{{ de.priceMax }}</p>
          </ng-template>
          <p></p>
        </div>

        <div class="row no-gutters" style="background-color:rgba(0, 0, 0, 0.03)">
            <div class="col-2">
              <a href="#">
                <img class="img-fluid" [src]="sanitize(de.publisherHp)" class="card-img-top" alt="de.publisherName">
              </a>
            </div>
            <div class="col-9">
              <div class="card-block px-2">
                <small class="text-muted">
                  <a href="#">{{de.publisherName}}</a> 发布于 <br>
                  {{ de.base.publishDate | date:'yyyy-MM-dd HH:mm' }}
                </small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 2rem">
  <div class="card-columns">
    <div *ngFor="let su of supplies; ">

      <div class="card text-left">
        <img [src]="su.images[0]" class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-title">{{ su.base.name }}</p>
          <p class="d-inline card-text" style="float:left;color:red;">￥{{ su.priceMin }}</p>
          <p class="d-inline card-text" style="padding-left: 10pt; color:grey;text-decoration:line-through;">
            ￥{{ su.priceMax }}</p>
          <!--
                    <ng-container *ngIf="su.base.isAvailable; else elseTemplate">
                      <a href="#" class="btn btn-primary">购买</a>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <a href="#" class="btn disabled">卖掉了</a>
                    </ng-template>
                  -->
        </div>
        <div class="row no-gutters" style="background-color:rgba(0, 0, 0, 0.03)">
          <div class="col-2">
            <a href="#">
              <img class="img-fluid" [src]="sanitize(su.publisherHp)" class="card-img-top" alt="su.publisherName">
            </a>
          </div>
          <div class="col-9">
            <div class="card-block px-2">
              <small class="text-muted">
                <a href="#">{{su.publisherName}}</a> 发布于 <br>
                {{ su.base.publishDate | date:'yyyy-MM-dd HH:mm' }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>