<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
    that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<div class="container" style="padding-top: 2rem">

  <div class="mx-auto" style="width: 200px; padding-top: 2rem">
    <div *ngIf="this.formModel.nickName===undefined">
      <form (submit)="submitModifyPrivateInfo()" [formGroup]="this.formModel">
        <div class="form-group">
          <label for="nickName">昵称</label>
          <input id="nickName" #nickName formControlName="nickName" type="text" class="form-control" placeholder="">
        </div>
        <div class="float-right">
          <button type="submit" class="btn btn-primary">修改信息</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info" (click)="signout()">注销</button>