<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>小工具</a></li>
        <li class="breadcrumb-item"><a [routerLink]="[ '/utils/happy-handing-in' ]">快乐交作业</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{workName}}</li>
    </ol>
</nav>

<!--Radios, options of images to upload.-->
<div class="container" style="padding-top: 2rem">
    <div class="card">
        <div class="card-body">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">图片质量</legend>
                    <div id="id-radios-qul" class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio-qul" id="gridRadios1" value="0.8"
                                checked [(ngModel)]="imageQuality">
                            <label class="form-check-label" for="gridRadios1">
                                原图
                            </label>
                            <span class="badge badge-pill badge-info">推荐</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio-qul" id="gridRadios2" value="0.6"
                                [(ngModel)]="imageQuality">
                            <label class="form-check-label" for="gridRadios2">
                                较快
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio-qul" id="gridRadios3" value="0.3"
                                [(ngModel)]="imageQuality">
                            <label class="form-check-label" for="gridRadios3">
                                最快
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">图片形式</legend>
                    <div id="id-radios-type" class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio-type" id="gridRadios4"
                                value="image/jpeg" checked [(ngModel)]="imageType">
                            <label class="form-check-label" for="gridRadios4">
                                24位
                            </label>
                            <span class="badge badge-pill badge-info">推荐</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio-type" id="gridRadios5"
                                value="image/png" [(ngModel)]="imageType">
                            <label class="form-check-label" for="gridRadios5">
                                32位（透明）
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" id="picker" (change)="addImage()" multiple="multiple"
                            class="custom-file-input" aria-describedby="inputGroupFileAddon04">
                        <label id="img-count" class="custom-file-label" for="inputGroupFile04">添加图片</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="removeAll()">移除所有图片</button>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>小贴士</strong>
                    <br />1.添加完照片后，提交按钮在最底部。
                    <br />2.选择的图片质量与格式将作用于选择后添加的图片。
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="card-columns">
        <div id="id-images" *ngFor="let image of images;let key=index;">
            <app-hhi-image [imageIndex]="key" [imageType]="imageType" [imageQuality]="imageQuality" [imageSource]="image" (deleteImageEvent)="removeImage(key)"></app-hhi-image>
            <br>
            <br>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="doUpload()">提交</button>
</div>