<div class="alert alert-info" role="alert" id="id_filter">
  我的需求
</div>
<div class="container" style="padding-top: 2rem">
  <div class="card-columns">
    <div *ngFor="let de of demands; ">

      <div class="card text-left" id="id_demand_card">
        <div class="card-body">

          <h5 class="card-title">{{ de.base.name }}</h5>
          <ng-container *ngIf="de.priceMax == de.priceMin; else is_acce_equal_else">
            <h5 class="d-inline card-text" style="float:left;color:green;">￥{{ de.priceMin }}</h5>
          </ng-container>
          <ng-template #is_acce_equal_else>
            <h5 class="d-inline card-text" style="float:left;color:green;">￥{{ de.priceMin }} ~
              ￥{{ de.priceMax }}</h5>
          </ng-template>
          
          <!--
            <ng-container *ngIf="de.base.isAvailable; else elseTemplate">
              <a href="#" class="btn btn-primary">购买</a>
            </ng-container>
            <ng-template #elseTemplate>
              <a href="#" class="btn disabled">卖掉了</a>
            </ng-template>
          -->
        </div>
        <br>
        <a nglink class="btn btn-primary"  (click)="selectDemand(de)" [routerLink]="[ '/good/publish']" [queryParams]="{edit: true, id: de.id, genre: 'demand'}">编辑</a>
        <button class="btn btn-danger" (click)="removeDemand(de)">删除</button>

      </div>
    </div>

  </div>
</div>

<div class="alert alert-info" role="alert" id="id_filter">
  我的宝贝
</div>
<div class="container" style="padding-top: 2rem">
  <div class="card-columns">
    <div *ngFor="let su of supplies; ">

      <div class="card text-left">
        <img [src]="su.images[0]" class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-title">{{ su.base.name }}</p>
          <p class="d-inline card-text" style="float:left;color:red;">￥{{ su.priceMin }}</p>
          <p class="d-inline card-text" style="padding-left: 10pt; color:grey;text-decoration:line-through;">
            ￥{{ su.priceMax }}</p>
          <!--
                    <ng-container *ngIf="su.base.isAvailable; else elseTemplate">
                      <a href="#" class="btn btn-primary">购买</a>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <a href="#" class="btn disabled">卖掉了</a>
                    </ng-template>
           -->
           <br>
          </div>
          <a nglink class="btn btn-primary" (click)="selectSupply(su)" [routerLink]="[ '/good/publish']" [queryParams]="{edit: true, id: su.id, genre: 'supply'}">编辑</a>
          <button class="btn btn-danger" (click)="removeSupply(su)">删除</button>
      </div>
    </div>
  </div>
</div>