<div style="padding-top: 2rem">
  <div class="card-columns">
    <div *ngFor="let name of names; ">

      <div class="card">
          <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1554039566&di=8aa0bbb7cf9dbe1196cd764c42f19a54&src=http://i0.hdslb.com/bfs/article/17a8fb31f192494aefb1b4931da279e7da0f8ac6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
        
    </div>
</div>